// Define variables for your color scheme

// For example:
$red: #A22C29;
$dark-red: #902923;
$marsala: #592422;
$blue: #292259;
$yellow: #E3D89D;
$orange: #D5CD72;
$green: #225943;
$black: #0A100D;
$gray: #B9BAA3;
$light-gray: #D6D5C9;
