.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 0 16px 0 0;
  li {
    list-style-type: none;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  a {
    color: white;
    text-decoration: none;
  }
}

.show-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 16px;
  margin: 16px;
  li {
    list-style-type: none;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .show-grid {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .show-grid {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .show-grid {
    grid-template-columns: 1fr 2fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .show-grid {
    grid-template-columns: 1fr 2fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .show-grid {
    grid-template-columns: 1fr 2fr;
  }
}

.main-card {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  .main-card-text {
    align-items: center;
  }

  a {
    color: $light-gray;
    text-decoration: none;
    font-size: 12px;
  }
}

.doses-card {
  background-color: $dark-red;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  ul {
    line-height: 48px;
    padding: 0;
    margin: 0;
  }
  li > a {
    color: white;
    font-size: 8px;
  }
}